[submodule "baseline_models/benchmarks/test-suite-sql-eval"]
	path = baseline_models/benchmarks/test-suite-sql-eval
	url = https://github.com/taoyds/test-suite-sql-eval.git
[submodule "baseline_models/benchmarks/text2sql-data"]
	path = baseline_models/benchmarks/text2sql-data
	url = https://github.com/jkkummerfeld/text2sql-data
[submodule "schema_filter/text2sql-schema-filter"]
	path = schema_filter/text2sql-schema-filter
	url = https://github.com/RUCKBReasoning/text2sql-schema-filter.git
